body {
  font-family: 'Raleway', sans-serif;
}

/* header section */

.user_pic {
  background-image: url('');
  background-repeat: no-repeat;
  border-radius: 50px;
  height: 50px;
  border:2px solid red;
  width:50px;
  background-position: center;
  position: relative;
}
.user_pic span {
  font-size: 14px;
    border-radius: 50px;
    bottom: 0;
    position: absolute;
    right: 0;
    /* fill: red; */
    background: red;
    color: red;
}
.user_pic img {
  height: 100%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
